header {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 10px 10px 10px 0px rgba(199,199,199,1);
  border-bottom: 1px solid grey;
}

header a {
  text-decoration: none;
  color: #161616;
}

.name {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

nav {
  min-width: 24rem;
}

nav ul {
  padding: inherit;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.active {
  font-weight: 700;
}